.container-fluid {
    background: #2ca5694a;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
 }

/* #signUpForm {

    background-color: #FFF;
    height: 600px;
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    border-top-left-radius: 50px;
    border-top-right-radius: 10px;
    padding: 0px;
    text-align:center;

} */
